<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>子正专栏 ｜ PNUO.com</title>
    <meta name="description" content="子正在生产生活中的所思所想，在此处，纵情表达。">
    <meta name="keywords" content="阅读, 思考, 写作, 表达, 子正, 文化, 艺术, 绘画, 摄影, 社会, 两性, 性教育, 科技, 互联网, AI, Agent, digital">
    <meta name="author" content="子正 | Fearless Zi">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- 绝对路径，样式加载 -->
    <link rel="stylesheet" href="/col/style.css">
</head>
<body>
    <!-- 引入页面头部 -->
    {% include header.html %}

    <!-- 默认封面图，直接加上 show 类显示 -->
    <div id="article-banner" class="article-banner show" style="background-image: url('/col/0000.jpg');"></div>

    <main id="content" class="content">
        <!-- 这里是直接写死的静态演示内容 -->
        <h1>这里是子正的专栏</h1>
                
        <p>这里是我写作的地方，生产生活之余的所思所想，写下来，只是为了不被这个世界彻底同化。</p>
        
        <p>你或许会好奇 “文章列表在哪里？”</p>
        
        <p>呵呵，并没有！</p>
        
        <p>我只是为了方便截图分发才做的这么个页面。</p>
        
    </main>

    <!-- 引入页面头部 -->
    {% include header.html %}

    <!-- 这里没有任何 JS 了 -->
</body>
</html>
